<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        table tbody tr:nth-child(odd) {
            background: #F4F4F4;
        }

        table tbody td:nth-child(even) {
            color: #C00;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="#">众筹平台 - 项目审核</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top:8px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-success dropdown-toggle"
                                data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i> <span th:text="${user.login}"></span> <span
                                class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="glyphicon glyphicon-cog"></i> 个人设置</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{exit}"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid" id="app">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="tree">
                <ul style="padding-left:0px;" class="list-group">
                    <li class="list-group-item tree-closed">
                        <a href="main.html"><i class="glyphicon glyphicon-dashboard"></i> 用户管理</a>
                    </li>
                    </li>
                    <li class="list-group-item">
                        <span><i class="glyphicon glyphicon-ok"></i> 业务审核 <span class="badge"
                                                                                style="float:right">3</span></span>
                        <ul style="margin-top:10px;">
                            <li style="height:30px;">
                                <a th:href="@{/auth_cert}"><i class="glyphicon glyphicon-check"></i> 实名认证审核</a>
                            </li>
                            <li style="height:30px;">
                                <a th:href="@{/auth_project}" style="color:red;"><i class="glyphicon glyphicon-check"></i>
                                    项目审核</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 业务管理 <span class="badge" style="float:right">7</span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="cert.html"><i class="glyphicon glyphicon-picture"></i> 轮播图管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="type.html"><i class="glyphicon glyphicon-equalizer"></i> 分类管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="process.html"><i class="glyphicon glyphicon-random"></i> 首页项目展示管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="project_type.html"><i class="glyphicon glyphicon-list"></i> 项目分类</a>
                            </li>
                            <li style="height:30px;">
                                <a href="tag.html"><i class="glyphicon glyphicon-tags"></i> 项目标签</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" role="form" style="float:left;">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-addon">查询条件</div>
                                <input class="form-control has-success" type="text" placeholder="请输入查询条件">
                            </div>
                        </div>
                        <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> 查询
                        </button>
                    </form>
                    <br>
                    <hr style="clear:both;">
                    <div class="table-responsive">
                        <table class="table  table-bordered">
                            <thead>
                            <tr>
                                <th width="30">#</th>
                                <th>项目名称</th>
                                <th>发起人</th>
                                <th>目标金额（元）</th>
                                <th>众筹周期(天)</th>
                                <th>创建时间</th>
                                <th>审核状态</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(p,index) in project" v-if="p.state == 0">
                                <td>{{index + 1}}</td>
                                <td>{{p.ipname}}</td>
                                <td>{{p.user.headportrait}}</td>
                                <td>{{p.ipmoney}}</td>
                                <td>{{p.ipday}}</td>
                                <td>{{p.ipdate}}</td>
                                <td>{{p.state == 0 ? "未审核":"已审核"}}</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs"
                                            data-target=".bs-example-modal-lg" @click="lookProject(p.pid)"><i
                                            class="glyphicon glyphicon-eye-open"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        项目详情
                    </h4>
                </div>
                <div class="modal-body" style="width: 100%">
                    <div class="input-group" style="width: 100%">
                        <div class="form-group" style="width: 100%" id="login">
                            <form class="form-signin" role="form" action="" method="">
                                <div class="input-group col-md-12">
                                    <div class="jumbotron nofollow col-md-12" style="padding-top: 10px;">
                                        <div class="col-md-7">
                                            <h3>
                                                <span>醒目名称：{{pro.ipname}}</span>
                                            </h3>
                                            <div style="float:left;width:70%;">
                                                <span>项目详情：{{pro.ipdesc}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <p style="margin-top: 50px">
                                                <span>目标金额 ：￥{{pro.ipmoney}} </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group row clearfix col-md-12">
                                    <div class="col-md-12 column">
                                        <div class="row clearfix">
                                            <div class="col-md-6 column">
                                                <img alt="140x140" style="width: 300px;" :src="pro.ipimag"/>
                                                <img alt="140x140" style="width: 300px;" :src="pro.ipdescimag"/>
                                                <button type="button" class="btn btn-success" style="margin-top: 50px;width: 100px" @click="authProject(pro.pid)">审核通过</button>
                                                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true" style="margin-top: 50px;margin-left:20px;width: 100px">
                                                    关闭
                                                </button>
                                            </div>
                                            <div class="col-md-6 column" >
                                                <div class="panel panel-default" style="border-radius: 0px; margin-left: 30px">
                                                    <div class="container-fluid">
                                                        <div class="row clearfix">
                                                            <div class="panel panel-default" style="border-radius: 0px;"
                                                                 id="sponsorinfo">
                                                                <div class="panel-heading">
                                                                    <h3>
                                                                        发起人信息
                                                                    </h3>
                                                                </div>
                                                                <div class="panel-body">
                                                                    <p>昵称：{{user.headportrait}}</p>
                                                                    <p>邮箱：{{user.email}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="payback">
                                                    <div class="panel panel-default" style="border-radius: 0px;margin-left: 30px" v-for="b in pro.payBack">
                                                        <div class="panel-heading">
                                                            <h3>
                                                                类型：{{b.pdtype}}
                                                            </h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <p>回报内容：{{b.pbcontent}}</p>
                                                            <p>预计回报时间：项目筹款成功后的{{b.pbdate}}天内</p>
                                                            <span>回报图片：<img :src="b.pbimag" style="height: 100px;width: 190px"></span>
                                                            <br><br>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class=" panel panel-default" style="border-radius: 0px;margin-left: 30px">
                                                    <div class="panel-heading">
                                                        <h3>
                                                            风险提示
                                                        </h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        {{pro.reminders}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


</div>

<script src="/jquery/jquery-2.1.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/script/docs.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function () {
            if ($(this).find("ul")) {
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
    });
</script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            project: [],
            pro: {},
            user:{}
        },
        methods: {
            getAllProjects: function () {
                let _this = this
                axios.get("/getProjectss").then(function (res) {
                    _this.project = res.data
                })
            },
            lookProject: function (pid) {
                let _this = this
                axios.get("lookProjectByPid/" + pid).then(function (res) {
                    _this.pro = res.data
                    _this.user = res.data.user
                    $('#myModal').modal('show');
                })
            },
            authProject:function (pid) {
                let _this = this
                axios.get("/authProject/" + pid).then(function (res) {
                    if (res.data) {
                        axios.get("/getProjectss").then(function (res) {
                            _this.project = res.data
                        })
                        $('#myModal').modal('hide');
                    }
                })
            }
        },
        created: function () {
            this.getAllProjects()
        }
    })
</script>
</body>
</html>
